<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Verification Succeeded!', 'none') "/>
<body>
	<div class="container-fliud">
		<!-- Navigation-bar -->
		<div th:replace="navigation :: header_menu"></div>
		<div>&nbsp;</div>
		<div class="text-center m-3">
			<h2>Customer Verification</h2>
			<h4>Congratulations! your account has been verified.</h4>
			<p><a th:href="@{/login}">Login Now</a></p>
		</div>
		
		<div>&nbsp;</div>

	<!-- Footer -->
		<div th:replace="navigation :: footer_menu"></div>
	</div>
</body>
</html>